@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 6% 98%;
    --foreground: 24 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 10% 10%;
    --primary: 24 10% 10%;
    --primary-foreground: 30 6% 98%;
    --secondary: 30 6% 96%;
    --secondary-foreground: 24 10% 10%;
    --muted: 30 6% 96%;
    --muted-foreground: 25 6% 45%;
    --accent: 38 92% 50%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 6% 90%;
    --input: 30 6% 90%;
    --ring: 38 92% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
